<!DOCTYPE html>
<html ng-app="codeBlog">
  <head>
    <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodeBlog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

    <!--google-code-prettify-->
    <link rel="stylesheet" type="text/css" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css">
    <script src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body ng-controller="AppCtrl">
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
        <div class="container-fluid">
            <div class="navbar-header"><!-- the navbar collapsing references this http://embed.plnkr.co/HkwfL9/preview -->

                <!--ng-init="navCollapsed = true"-->
                <button type="button" class="navbar-toggle"
                        ng-click="isCollapsed = !isCollapsed">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">CodeBlog</a>
            </div>
            <div class="collapse navbar-collapse" ng-class="!isCollapsed && 'in'">
                <ul class="nav navbar-nav">
                    <li ng-show="isLoggedIn()"
                            ng-class="{ active: isActive(new-blog) }"><!--suppress HtmlUnknownAnchorTarget -->
                        <a href="#/newBlog"><span class="glyphicon glyphicon-plus"></span> New Blog</a>
                    </li>

                    <li ng-class="{ active: isActive(users) }"><!--suppress HtmlUnknownAnchorTarget -->
                        <a href="#/users">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            Bloggers
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="isLoggedIn()">
                        <a><create-account-button></create-account-button></a>
                    </li>
                    <li ng-hide="isLoggedIn()">
                        <a><log-in-button></log-in-button></a>
                    </li>
                    <li ng-show="isLoggedIn()">
                        <a href="#/users/{{getAuthenticatedUserId()}}">
                            <span class="glyphicon glyphicon-user"></span>
                            &nbsp;{{getAuthenticatedUserName()}}
                        </a>
                    </li>
                    <li ng-show="isLoggedIn()">
                        <a>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <log-out-button></log-out-button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <ng-view></ng-view>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
    <script src="navbar.js"></script>
    <script src="../directives/create-account/create-account.js"></script>
    <script src="../directives/authentication/authentication.js"></script>
    <script src="directives/upload-image/upload-image.js"></script>
    <script src="../public/views/edit-user/edit-user.js"></script>
    <script src="views/home/home.js"></script>
    <script src="views/blog-detail/blog-detail.js"></script>
    <script src="views/blogs-list/blogs-list.js"></script>
    <script src="views/new-blog/new-blog.js"></script>
    <script src="views/users/users.js"></script>
    <script src="ng-app.js"></script>
  </body>
</html>
