<div class="modal-header">
    <h3 class="modal-title">Create an Account</h3>
</div>
<div class="modal-body">
    <label class="sr-only">user name</label>
    <input class="form-control" type="text" ng-model="createAccountCredentials.userName" placeholder="user name">

    <label class="sr-only">password</label>
    <input class="form-control" type="password" ng-model="createAccountCredentials.password" placeholder="password">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">Submit</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>