<div class="container">
    <div ng-hide="isLoggedIn()">
        <p>Log in to post a blog</p>
    </div>

    <div ng-show="isLoggedIn()">
        <input class="form-control" type="text" ng-model="newBlogEntry.subject" placeholder="subject">
        <textarea class="form-control" ng-model="newBlogEntry.body"
                  ng-change="refreshNewBlogEntryBody()" ng-trim="false">

            <button class="btn-default">Test Button</button>

        </textarea>

        <hr>

        <h4>{{newBlogEntry.subject}}</h4>

        <div id="new-blog-preview">
        </div>

        <br>

        <button class="btn btn-primary" ng-click="submit()">Submit</button>
    </div>
</div>